In [1]:
from flask import Flask
from flask import request
import pymysql

In [11]:
def dbConnection():
    try:
        connection = pymysql.connect(host="localhost", user="root", password="root", database="disable")
        return connection
    except:
        print("Something went wrong in database Connection")

def dbClose():
    try:
        dbConnection().close()
    except:
        print("Something went wrong in Close DB Connection")

con = dbConnection()
cursor = con.cursor()

username="yash"
email="yashsalvi1999@gmail.com"

In [47]:
sql1 = "UPDATE levelofuser SET matchthefollow = %s WHERE username=%s AND email=%s"
val1 = (5,username,email)
cursor.execute(sql1,val1)
con.commit()

In [51]:
sql1 = "UPDATE levelofuser SET fillinblanks = %s WHERE username=%s AND email=%s"
val1 = (2,username,email)
cursor.execute(sql1,val1)
con.commit()

In [54]:
sql1 = "UPDATE levelofuser SET mcq = %s WHERE username=%s AND email=%s"
val1 = (3,username,email)
cursor.execute(sql1,val1)
con.commit()

In [55]:
cursor.execute('SELECT * FROM levelofuser WHERE username=%s AND email=%s',("yash","yashsalvi1999@gmail.com"))
row = cursor.fetchone()

print(row)
print(0 not in row)
print(row[-3] == 5)
print(row[-2] == 2)
print(row[-1] == 3)

if 0 not in row and row[-3] == 5 and row[-2] == 2 and row[-1] == 3:
    print("levelpassed")
else:                    
    print("success")

('Yash', 'yashsalvi1999@gmail.com', 'Level 1', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5, 2, 3)
True
True
True
True
levelpassed

In [61]:
 level="Level 5"

In [62]:
sql1 = "UPDATE levelofuser SET levelofuser=%s,video1=%s,video2=%s,video3=%s,video4=%s,video5=%s,video6=%s,video7=%s,video8=%s,video9=%s,video10=%s,matchthefollow=%s,fillinblanks=%s,mcq=%s WHERE username=%s AND email=%s"
val1 = ("Level "+str(int(level.split(" ")[1])+1),0,0,0,0,0,0,0,0,0,0,0,0,0,username,email)
cursor.execute(sql1,val1)
con.commit()